# Speedy keys
xset r rate 210 40

# xsetroot -cursor_name left_ptr

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

xrdb ~/.Xresources
export ZDOTDIR=$HOME/.config/zsh
